server:
  port: 8080
  servlet:
    context-path: /api

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none

jwt:
  secret: ${JWT_SECRET}
  secret-key: ${JWT_SECRET}
  access-token-expiration: 86400000
  refresh-token-expiration: 604800000

mail:
  username: ${MAIL_USERNAME}
  password: ${MAIL_PASSWORD}